@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@font-face {
  font-family: PiratesBay;
  src: url(/fonts/piratesbay.ttf);
}

body {
  @apply font-roboto;
}

.prose * {
  color: white !important;
}

.demon-head-wrapper {
  max-height: 440px;
  max-width: 366px;
}

svg {
  display: inline !important;
}