---
import "../style/index.css";
import * as CovidGuidelines from "../content/text/covid-guidelines.md";
import Mastodon from "../components/Social/Mastodon.astro";
import Discord from "../components/Social/Discord.astro";
import Facebook from "../components/Social/Facebook.astro";
import Email from "../components/Social/Email.astro";

const covidGuidelines = await CovidGuidelines.compiledContent();
---

<html>
  <head>
    <link rel="icon" href="/img/demon-head.png" type="image/png" />
    <title>Blood on the Clocktower | Portland Group</title>
    <meta name="viewport" content="width=device-width" />
  </head>

  <body class="bg-gray-600">
    <header class="bg-gray-900 pt-2 pb-4 flex w-full border-t-8 border-red-800">
      <div class="flex flex-col items-center justify-center w-64">
        <img
          class="h-24 md:h-32"
          src="/img/pdxbotc-logo_website.png"
          alt="Blood on the Clocktower"
        />
      </div>
      <nav
        class="pt-2 pr-4 flex-grow flex gap-2 md:gap-4 flex-col md:flex-row justify-center md:justify-end items-end md:items-center h-24 md:h-32 text-xl md:text-2xl"
      >
        <Mastodon>
          <span class="hidden sm:inline pl-2 hover:underline">Mastodon</span>
        </Mastodon>
        <Facebook>
          <span class="hidden sm:inline pl-2 hover:underline">Facebook</span>
        </Facebook>
        <Discord>
          <span class="hidden sm:inline pl-2 hover:underline">Discord</span>
        </Discord>
        <div class="hidden sm:block">
          <Email>
            <span class="hidden sm:inline pl-2 hover:underline">Email</span>
          </Email>
        </div>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer class="w-full border-t-8 border-blue-800 text-white">
      <div
        class="bg-gray-800 py-8 flex flex-col lg:flex-row justify-around w-full p-6 gap-6"
      >
        <div class="m-autotext-lg">
          <h2 class="text-2xl md:text-3xl font-piratesbay text-center mb-4">
            COVID-19 Guidelines
          </h2>
          <div class="prose m-auto" set:html={covidGuidelines} />
        </div>
        <div></div>
        <div>
          <h2
            class="text-2xl md:text-3xl text-white font-piratesbay text-center mb-4"
          >
            Resources
          </h2>
          <ul>
            <li>
              <a
                class="hover:underline"
                href="https://bloodontheclocktower.com/"
                >Blood on the Clocktower Official Site</a
              >
            </li>
            <li>
              <a
                class="hover:underline"
                href="https://wiki.bloodontheclocktower.com/"
                >Blood on the Clocktower Wiki</a
              >
            </li>
            <li>
              <a
                class="hover:underline"
                href="https://botc-scripts.azurewebsites.net/"
                >Community Script Database</a
              >
            </li>
            <li>
              <a
                class="hover:underline"
                href="https://www.twitch.tv/thepandemoniuminstitute"
              >
                The Pandemonium Institute Twitch Channelsdfsdf
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bg-gray-900 col-span-3">
        <div
          class="py-3 flex justify-around text-2xl w-full md:w-[500px] m-auto"
        >
          <Mastodon />
          <Facebook />
          <Discord />
          <Email />
        </div>
      </div>
    </footer>
    <script is:inline src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
  ></script>
  <script is:inline>
    kofiWidgetOverlay.draw("pdxbotc", {
      type: "floating-chat",
      "floating-chat.donateButton.text": "Donate",
      "floating-chat.donateButton.background-color": "#2E1065",
      "floating-chat.donateButton.text-color": "#fff",
    });
  </script>
  </body>
</html>
